{{{fontface}}}
{{{stylesheet}}}
<div id="app">{{{initialHTML}}}</div>
<script type="text/javascript">window['@@__reactAppContext__@@']={{{reactAppContext}}}</script>
<script type="text/javascript" src="/app/common.js?v={{version}}"></script>
<script type="text/javascript" src="/app/app.js?v={{version}}"></script>
