{{{fontface}}}
<div id="app">{{{components}}}</div>
<script type="text/javascript">window['@@__reactAppContext__@@']={{{reactAppContext}}}</script>
<script type="text/javascript" src="/common.js?v={{version}}"></script>
<script type="text/javascript" src="/app.js?v={{version}}"></script>
