<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{title}}</title>
    <meta name="keywords" content="链尚网，链尚，lianshang.com，面料，辅料，轻纺城，进口面料，服装面料，面料采购，面辅料交易平台" />
    <meta name="description" content="链尚网（lianshang.com）-全球面辅料交易平台，专业的纺服业供应链B2B。采购需求在线发布，进口面料应有尽有，帮助千万时尚从业者实现“足不出户，全球采购”，链接全球时尚！"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capabale" , content="yes" />
    <link type="text/css" rel="stylesheet" href="/css/base.css?v={{version}}" />
    <script type="text/javascript">
        var F2eConfig = '{{{lionJson}}}';
        var __Dev__ = {{{isDevelopment}}};
    </script>
</head>

<body>
    {{{body}}} 
    {{#if isDevelopment}}
    <script type="text/javascript" src="/scripts/modules/dev-tool.js?v={{version}}"></script>
    {{/if}}
</body>

</html>