{{{fontface}}}
{{{stylesheet}}}
<div id="app">{{{initialHTML}}}</div>
<script type="text/javascript">window['@@__reactAppContext__@@']={{{reactAppContext}}}</script>
<script type="text/javascript" src="{{__cdnUrl__}}/app/common.js?v={{__version__}}"></script>
<script type="text/javascript" src="{{__cdnUrl__}}/app/app.js?v={{__version__}}"></script>
